table, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 2%;
}

table {
    width: 30%;
}

tr > th {
    color: rgb(252, 252, 252);
    background-color: rgb(93, 69, 116);
}

tr {
    background-color: rgb(255, 255, 255);
}

h2 {
    font-size: large;
}